@use "mixins" as m;

.team {
	display: flex;
	width: 100vw;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__header {
		font-size: 2rem;
		padding: 7% 0 4%;
	}
	&__member {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&-title {
			font-size: 1rem;
			padding: 8% 0 8%;
		}

		//profiles
		.team__profile-r {
			@include m.profile(url(../assets/profiles/Rakib_Square.png));
		}

		.team__profile-a {
			@include m.profile(url(../assets/profiles/Alexandra_Square.png));
		}

		.team__profile-l {
			@include m.profile(url(../assets/profiles/NoPerson_Square.png));
		}

		.team__profile-s {
			@include m.profile(url(../assets/profiles/Sebastian_Square.png));
		}
		.team__container {
			margin-top: 8%;
			width: 70vw;
			height: 15vh;
			background-color: lightgray;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			.team__description {
				display: inline-block;
				font-weight: 600;
				font-size: 1rem;
				max-width: 50vw;
				text-align: left;
				line-height: 1;

				.team__quote {
					font-size: 2.3rem;
				}
			}
		}
	}

	&__arrow {
		margin-top: 5%;
		font-size: 1.5rem;

		.team__link {
			text-decoration: none;
			color: black;
		}
	}
}
