@use "mixins" as m;

.contact {
	background-color: black;
	margin-top: 9%;
	width: 100%;
	height: 70vh;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include m.desktop {
		margin-top: 2%;
		height: 25vh;
	}

	&__container {
		@include m.desktop {
			display: flex;
			width: 70%;
			justify-content: space-around;
			align-items: start;
		}
		.contact__address {
			@include m.cont-styling(20%, 1.2rem);

			.contact__address-details {
				margin: 5%;
				width: max-content;
			}
			@include m.desktop {
				margin-top: 0;
			}
		}
		.contact__info {
			@include m.cont-styling(20%, 1.2rem);
			.contact__info-details {
				margin: 5%;
				width: max-content;
			}

			@include m.desktop {
				margin-top: 0;
			}
		}
		.contact__socials {
			@include m.cont-styling(20%, 1.5rem);

			@include m.desktop {
				margin-top: 0;
			}
			.contact__link {
				text-decoration: none;
				color: white;
				font-size: 1.3rem;
				width: max-content;
				margin: 5%;
			}
		}
	}
}
