@use "variables" as v;
@use "mixins" as m;

.contact {
	background-color: black;
	margin-top: 9%;
	width: 100vw;
	height: 70vh;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__container {
		&__address {
			font-size: 1.2rem;
			display: flex;
			flex-direction: column;
			align-items: start;
			margin-top: 5%; //not included in mixin
			&__details {
				margin: 5%;
				width: max-content;
			}
		}
		&__info {
			margin-top: 20%;
			font-size: 1.2rem;
			display: flex;
			flex-direction: column;
			align-items: start;
			&__details {
				margin: 5%;
				width: max-content;
			}
		}
		&__socials {
			margin-top: 20%;
			display: flex;
			font-size: 1.5rem;
			flex-direction: column;
			align-items: start;
			&__link {
				text-decoration: none;
				color: white;
				font-size: 1.3rem;
				width: max-content;
				margin: 5%;
			}
		}
	}
}
