@use "variables" as v;
@use "mixins" as m;

.hero__nav {
	position: relative;
	width: 100%;
	z-index: 3;
	background-color: v.$overlayColor;
	height: 58px;

	.hero__btn {
		display: none;
	}
	.hero__btn:checked ~ .hero__menu {
		opacity: 1;
	}

	// turns hamburger into X shape when checked
	.hero__btn:checked ~ .hero__icon .hero__icon-item {
		background: transparent;
	}

	.hero__btn:checked ~ .hero__icon .hero__icon-item:before {
		transform: rotate(-45deg);
		top: 0;
	}

	.hero__btn:checked ~ .hero__icon .hero__icon-item:after {
		transform: rotate(45deg);
		top: 0;
	}

	.hero__icon {
		padding: 28px 20px;
		position: relative;
		float: right;
		// cursor: pointer; add in the media query for desktop

		@include m.desktop {
			display: none;
		}

		// middle line of hamburger icon
		.hero__icon-item {
			background: white;
			display: block;
			height: 2px;
			width: 14px;
			position: relative;
			transition: background 0.2s ease-out;
			transform: scale(2);
		}
		// top and bottom lines of hamburger icon.
		.hero__icon-item:before {
			@include m.hamburger(5px);
		}

		.hero__icon-item:after {
			@include m.hamburger(-5px);
		}
	}

	.hero__menu {
		margin: 0;
		padding: 0;
		clear: both;
		list-style: none;
		opacity: 0;
		background-color: v.$overlayColor;
		height: 80px;
		transition: opacity 0.2s ease-out; //transition for the navbar
		text-align: center;

		@include m.desktop {
			opacity: 1;
			display: flex;
			float: right;
			height: 58px;
			width: 100%;
			background-color: transparent;
			padding-right: 50px;
			justify-content: end;
			align-items: center;

			.hero__item {
				margin: 1%;
			}
		}

		.hero__link {
			color: white;
			font-weight: 600;
			font-size: 1.2em;
			display: block;
			padding: 0;
			text-decoration: none;

			@include m.desktop {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
