@use "hamburgermenu";
@use "variables" as v;
* {
	margin: 0 auto;
	scroll-behavior: smooth; //only works if smooth scrolling is enabled in the browser settings

	.hero {
		color: white;
		background-image: url(../assets/negative-space-black-forest-dawn.jpg);
		height: 100vh;
		width: 100vw;
		background-position: center;
		background-size: cover;

		&__description-c {
			text-align: center;
			height: 60vh;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.hero__title {
				font-size: 2em;
				font-family: v.$heroFont;
				padding: 30px;
				padding-top: 150px;
			}

			.hero__text {
				font-weight: 100;
				font-family: v.$heroFont;
				max-width: 350px;
				padding: 30px;
			}
		}

		&__arrow {
			display: flex;
			height: 25vh;
			align-items: end;
			justify-content: center;
			font-size: 2em;

			&-link {
				text-decoration: none;
				color: white;
			}
		}
	}
}
