*{
    margin: 0 auto;

        .hero {
            color: white;
            background-image: url(../assets/negative-space-black-forest-dawn.jpg);
            height: 812px;
            width: 100vw;
            background-position: center;
            background-size: cover;
            
        }
}